<div class="suggestions-container">
    <h1 class="title">Suggestions de mots</h1>
    <form (ngSubmit)="onSubmit()" #wordForm="ngForm" class="form-container">
        <div class="input-field">
            <label for="term">Entrez le mot :</label>
            <input type="text" id="term" name="term" [(ngModel)]="term" required />
        </div>

        <div class="input-field">
            <label for="choices">Entrez les choix (séparés par des virgules) :</label>
            <input type="text" id="choices" name="choices" [(ngModel)]="choicesInput" required />
        </div>

        <div class="input-field">
            <label for="numberOfSuggestions">Nombre de suggestions :</label>
            <input type="number" id="numberOfSuggestions" name="numberOfSuggestions" [(ngModel)]="numberOfSuggestions" min="1" required />
        </div>
        <div class="buttons">
            <button type="submit" class="button" [disabled]="!wordForm.form.valid">Obtenir des suggestions</button>
        </div>
    </form>

    <div *ngIf="suggestions.length > 0" class="results-container">
        <h3>Suggestions :</h3>
        <ul class="suggestions-list">
            <li *ngFor="let suggestion of suggestions">
                {{ suggestion.value }} (Différences : {{ suggestion.diff }})
            </li>
        </ul>
    </div>
</div>